<% layout('./layouts/boilerplate') -%>

<div class="container">
    <form action="/users/<%=user.id%>?_method=PUT" method="POST">
        <div class="ui equal width form">
            <div class="fields">
                <div class="field">
                    <label>Username</label>
                    <input
                        type="text"
                        name="username"
                        value="<%=user.username%>"
                    />
                </div>
                <div class="field">
                    <label>Your Current Password</label>
                    <input type="password" name="currentPassword" required />
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <label>New Password</label>
                    <input type="password" name="newPassword" />
                </div>
                <div class="field">
                    <label>Password Confirmation</label>
                    <input type="password" name="passwordConfirmation" />
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <label>First name</label>
                    <input
                        type="text"
                        name="firstname"
                        value="<%=user.firstName%>"
                    />
                </div>
                <div class="field">
                    <label>Last name</label>
                    <input
                        type="text"
                        name="lastname"
                        value="<%=user.lastName%>"
                    />
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <label>Avatar URL</label>
                    <input type="text" name="avatar" value="<%=user.avatar%>" />
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="text" name="email" value="<%=user.email%>" />
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <label>Tell us about Yourself</label>
                    <input type="text" name="bio" value="<%=user.bio%>" />
                </div>
            </div>
        </div>

        <button class="ui submit button">Submit</button>
    </form>
</div>
